<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wmang.logis.core.dao.user.SysUserMapper">

	<!-- ********************** 以下部分为代码自动生成，不能修改！！！ ********************************** -->

	<resultMap id="baseResultMap" type="com.wmang.logis.mode.entity.user.SysUser">
		<id column="id" property="id" />		<!-- 主键 -->
		<result column="account" property="account" />		<!-- 账号 -->
		<result column="name_" property="name" />		<!-- 名称 -->
		<result column="passwd" property="passwd" />		<!-- 密码 -->
		<result column="email" property="email" />		<!-- 邮箱 -->
		<result column="user_type" property="userType" />		<!-- 用户类型 -->
		<result column="user_status" property="userStatus" />		<!-- 用户状态 -->
		<result column="phone" property="phone" />		<!-- 电话号码 -->
		<result column="address" property="address" />		<!-- 家庭地址 -->
		<result column="lastupdate_passwd" property="lastupdatePasswd" />		<!-- 密码最后修改时间 -->
		<result column="validly" property="validly" />		<!-- 账户是否有效 -->
		<result column="remark" property="remark" />		<!-- 备注 -->
		<result column="creater" property="creater" />		<!-- 创建人 -->
		<result column="create_time" property="createTime" />		<!-- 创建时间 -->
		<result column="updater" property="updater" />		<!-- 修改人 -->
		<result column="update_time" property="updateTime" />		<!-- 修改时间 -->
	</resultMap>

	<sql id="baseColumnList">
		id,account,name_,passwd,email,
		user_type,user_status,phone,address,lastupdate_passwd,
		validly,remark,creater,create_time,updater,
		update_time
	</sql>

	<select id="findOne" resultMap="baseResultMap" parameterType="Integer">
		select
		<include refid="baseColumnList" />
		from sys_user
		where id = #{id}
	</select>

	<delete id="delete" parameterType="Integer">
		delete from
		sys_user
		where id = #{id}
	</delete>

	<insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.wmang.logis.mode.entity.user.SysUser">
		insert into sys_user
		(<include refid="baseColumnList" />
		)
		values
		(	#{id},#{account},#{name},#{passwd},#{email},
			#{userType},#{userStatus},#{phone},#{address},#{lastupdatePasswd},
			#{validly},#{remark},#{creater},#{createTime},#{updater},
			#{updateTime}
		)
	</insert>

	<update id="updateSelected">
		update sys_user
		<set>
			<foreach collection="columns" item="column" separator=",">
				<choose>
					<when test="column=='account' || column=='account'">
						account=#{record.account}
					</when>
					<when test="column=='name_' || column=='name'">
						name_=#{record.name}
					</when>
					<when test="column=='passwd' || column=='passwd'">
						passwd=#{record.passwd}
					</when>
					<when test="column=='email' || column=='email'">
						email=#{record.email}
					</when>
					<when test="column=='user_type' || column=='userType'">
						user_type=#{record.userType}
					</when>
					<when test="column=='user_status' || column=='userStatus'">
						user_status=#{record.userStatus}
					</when>
					<when test="column=='phone' || column=='phone'">
						phone=#{record.phone}
					</when>
					<when test="column=='address' || column=='address'">
						address=#{record.address}
					</when>
					<when test="column=='lastupdate_passwd' || column=='lastupdatePasswd'">
						lastupdate_passwd=#{record.lastupdatePasswd}
					</when>
					<when test="column=='validly' || column=='validly'">
						validly=#{record.validly}
					</when>
					<when test="column=='remark' || column=='remark'">
						remark=#{record.remark}
					</when>
					<when test="column=='creater' || column=='creater'">
						creater=#{record.creater}
					</when>
					<when test="column=='create_time' || column=='createTime'">
						create_time=#{record.createTime}
					</when>
					<when test="column=='updater' || column=='updater'">
						updater=#{record.updater}
					</when>
					<when test="column=='update_time' || column=='updateTime'">
						update_time=#{record.updateTime}
					</when>
				</choose>
			</foreach>
		</set>
		where id = #{record.id}
	</update>

	<update id="update" parameterType="com.wmang.logis.mode.entity.user.SysUser">
		update sys_user
		set id=#{id},account=#{account},name_=#{name},passwd=#{passwd},email=#{email},
			user_type=#{userType},user_status=#{userStatus},phone=#{phone},address=#{address},lastupdate_passwd=#{lastupdatePasswd},
			validly=#{validly},remark=#{remark},creater=#{creater},create_time=#{createTime},updater=#{updater},
			update_time=#{updateTime}
		where id = #{id}
	</update>
	
	<sql id="exampleClause">
		<trim prefixOverrides="and|or">
			<foreach collection="example.oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and|or">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									${criterion.condition}
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</trim>
	</sql>
	
	<!-- 根据条件查询 -->
	<select id="listByCondition" resultMap="baseResultMap">
		select 
		<include refid="baseColumnList" />
		from sys_user
		<if test="_parameter != null" >
			<where>
				<include refid="exampleClause" />
			</where>
			<if test="example.orderByClause != null and example.orderByClause != ''">
				order by ${example.orderByClause}
			</if>
		</if>
	</select>
	
	<!-- 根据条件查询 -->
	<select id="countByCondition" resultType="java.lang.Integer">
		select count(1)
		from sys_user
		<if test="_parameter != null" >
			<where>
				<include refid="exampleClause" />
			</where>
		</if>
	</select>
	
	<!-- 根据主键查询自定义列 -->
	<select id="selectColumnsByKey" resultMap="baseResultMap" parameterType="Integer">
		select <foreach collection="columns" item="column" separator=",">#{column}</foreach>
		from sys_user
		where id = #{id}
	</select>

	<!-- ********************** 以上部分为代码自动生成，不能修改！！！ ********************************** -->

</mapper>