legend {
    width: auto;
    margin-bottom: 0px;
    font-size: 21px;
    line-height: 40px;
    border: 0;
    border-bottom: 0;
}
.layui-field-title{
    margin: 10px 0;
}
.layui-elem-field{
	margin: 0px 
}
.layui-form-item{
	margin-bottom: 3px;
}

.layui-form-label {
    float: left;
    display: block;
    padding: 5px 10px;
    width: 80px;
    font-weight: 400;
    line-height: 3 0px;
    text-align: right
}
.layui-input-block {
    margin-left: 110px;
    min-height: 30px;
}
.input-text, .btn, .input-text.size-M, .btn.size-M {
    font-size: 14px;
    height: 28px;
    line-height: 1.1;
    padding: 4px
}
.layui-input, .layui-unselect,.layui-select, .layui-textarea {
    height: 28px;
    line-height: 1.1;
}

.layui-form-select dl {
    position: absolute;
    left: 0;
    top:31px;
    padding: 5px 0;
    z-index: 999;
    min-width: 100%;
    border: 1px solid #d2d2d2;
    max-height: 300px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
    box-sizing: border-box
}
.l{
	margin-top:5px;
}

.layui-btn-sm {
    height: 24px;
    line-height: 24p;
    padding:3px 15px;
    font-size: 12px;
}
.mt-10 {
    margin-top: 2px;
}
.l {
    margin-top: 2px;
}

.layui-table-cell {
    height: 24px;
    line-height: 24px;
}
