<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config/db.properties</value>
				<value>classpath:config/dubbo.properties</value>
				<value>classpath:config/rocketmq.properties</value>
				<value>classpath:config/redis.properties</value>
				<value>classpath:config/mmpUrl.properties</value>
				<value>classpath:config/mmpUrlNew.properties</value>
				<value>classpath:config/wxUrl.properties</value>
			</list>
		</property>
	</bean>
	<bean id="appspringcontext" class="com.neusoft.framework.utils.AppSpringContext"/>
	<bean id="applicationContext" class="com.neusoft.framework.db.utils.AppSpringContext"/>
		
	<context:annotation-config />
	
	<aop:aspectj-autoproxy />
	<!-- 声明事物控制start -->
	<tx:annotation-driven transaction-manager="txManager" />
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="txTemplate" class="org.springframework.transaction.support.TransactionTemplate">
		<property name="transactionManager" ref="txManager" />
	</bean>
	 <tx:advice id="txAdvice" transaction-manager="txManager">  
        	<tx:attributes>  
            		<tx:method name="do*" rollback-for="com.neusoft.framework.api.exception.BaseException" propagation="REQUIRED" />
            		<tx:method name="del*" rollback-for="com.neusoft.framework.api.exception.BaseException" propagation="REQUIRED" /> 
            		<tx:method name="save*" rollback-for="com.neusoft.framework.api.exception.BaseException" propagation="REQUIRED" /> 
            		<tx:method name="update*" rollback-for="com.neusoft.framework.api.exception.BaseException" propagation="REQUIRED" />  
       	 	</tx:attributes>  
    	</tx:advice>  
    	<aop:config>  
       	<aop:pointcut id="interceptorPointCuts"  
            	expression="(execution(* *..facade*..*(..)) or execution(* *..biz*..*(..)))" />  
        	<aop:advisor advice-ref="txAdvice"  
            		pointcut-ref="interceptorPointCuts" />          
    	</aop:config>
	<!-- 事物结束end -->
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" p:dataSource-ref="dataSource"/>
	
	<context:component-scan base-package="com.neusoft.cs.ba.**" />
	<context:component-scan base-package="com.neusoft.cs.pub.**" />
	
	<import resource="classpath:cs-ba-spring/applicationContext-cs-ba-datasource.xml" />
	<import resource="classpath:cs-ba-spring/applicationContext-cs-ba-dao.xml" />
	<import resource="classpath:cs-ba-spring/applicationContext-cs-ba-dubbo.xml" />
	<import resource="classpath:cs-ba-spring/applicationContext-cs-ba-dubbo-provider.xml" />
	<import resource="classpath:cs-ba-spring/applicationContext-cs-ba-dubbo-customer-${dubbo.css.registry.protocol}.xml" />
	<import resource="classpath:cs-ba-spring/applicationContext-cs-ba-redis.xml" />
	<import resource="classpath:cs-ba-spring/applicationContext-cs-ba-mq.xml" />
</beans>