<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
	
	<bean id="defaultMQProducer" class="com.alibaba.rocketmq.client.producer.DefaultMQProducer" scope="singleton" destroy-method="shutdown">
		<constructor-arg index="0">
			<value>${rocketmq.producerGroupName}</value>
		</constructor-arg>
		<property name="namesrvAddr" value="${rocketmq.namesrvAddr}" />
		<property name="instanceName" value="${rocketmq.producer.instanceName}" />
	</bean>
	<bean id="defaultMQPushConsumer" class="com.alibaba.rocketmq.client.consumer.DefaultMQPushConsumer">
 		<constructor-arg index="0">
  			<value>${rocketmq.consumerGroupName}</value> 
 		</constructor-arg>
		<property name="namesrvAddr" value="${rocketmq.namesrvAddr}" /> 
		<property name="instanceName" value="${rocketmq.consumer.instanceName}" /> 
  	</bean>
 	<bean id="todoMessageEngineerConsumer" class="com.alibaba.rocketmq.client.consumer.DefaultMQPushConsumer">
 		<constructor-arg index="0">
  			<value>${rocketmq.todoMessageEngineer.GroupName}</value> 
  		</constructor-arg>
		<property name="namesrvAddr" value="${rocketmq.namesrvAddr}" /> 
		<property name="instanceName" value="${rocketmq.todoMessageEngineer.instanceName}" /> 
  	</bean>
  	
 	<bean id="todoMessageArchivesConsumer" class="com.alibaba.rocketmq.client.consumer.DefaultMQPushConsumer">
 		<constructor-arg index="0">
  			<value>${rocketmq.todoMessageArchives.GroupName}</value> 
  		</constructor-arg>
		<property name="namesrvAddr" value="${rocketmq.namesrvAddr}" /> 
		<property name="instanceName" value="${rocketmq.todoMessageArchives.instanceName}" /> 
  	</bean>
 	<bean id="todoMessageFinAccountAmountConsumer" class="com.alibaba.rocketmq.client.consumer.DefaultMQPushConsumer">
 		<constructor-arg index="0">
  			<value>${rocketmq.todoMessageFinAccountAmount.GroupName}</value> 
  		</constructor-arg>
		<property name="namesrvAddr" value="${rocketmq.namesrvAddr}" /> 
		<property name="instanceName" value="${rocketmq.todoMessageFinAccountAmount.instanceName}" /> 
  	</bean>
  	
  	<bean id="todoMessageForUnitArchivesConsumer" class="com.alibaba.rocketmq.client.consumer.DefaultMQPushConsumer">
	<constructor-arg index="0">
	<value>${rocketmq.todoMessageForUnitArchives.GroupName}</value> 
	</constructor-arg>
	<property name="namesrvAddr" value="${rocketmq.namesrvAddr}" /> 
	<property name="instanceName" value="${rocketmq.todoMessageForUnitArchives.instanceName}" /> 
	</bean>
</beans>
