<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="favicon.ico">
<link rel="Shortcut Icon" href="favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css"
	href="../../static/plugins/layui-v2.2.5/css/layui.css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script><![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>对单页面</title>
</head>
<body>
	<form class="layui-form" action="" id="form-bill" method="post">
		<div class="layui-form-item" style="margin-top: 30px">
			<div class="layui-inline">
				<label class="layui-form-label">单据状态：</label>
				<div class="layui-input-inline">
					<select id="billState_">
						<option></option>
						<option value="未收未签">未收未签</option>
						<option value="已收已签">已收已签</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn layui-btn-normal" lay-submit
						lay-filter="formDemo" id="billBtn_">对单</button>
				</div>
			</div>
	</form>



	<!--_footer 作为公共模版分离出去-->
	<script type="text/javascript"
		src="../../static/plugins/h-ui.admin/lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="../../static/plugins/layui-v2.2.5/layui.js"></script>
	<script src="../../static/js/require.js"
		data-main="../../static/js/shippingdocuments/billMain"></script>
	<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>