<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico">
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css"
	href="../../static/plugins/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css"
	href="../../static/plugins/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css"
	href="../../static/plugins/h-ui.admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css"
	href="../../static/plugins/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css"
	href="../../static/plugins/h-ui.admin/css/style.css" />
<link rel="stylesheet" type="text/css"
	href="../../static/plugins/layui-v2.2.5/css/layui.css" />
<link rel="stylesheet" type="text/css"
	href="../../static/css/common.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>货运单管理</title>
</head>
<body>
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>
		货运单管理 <span class="c-gray en">&gt;</span> 货运单管理 <a
			class="btn btn-success radius r"
			style="line-height: 1.6em; margin-top: 3px"
			href="javascript:location.replace(location.href);" title="刷新"><i
			class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="layui-container">

		<div class="cl pd-5 bg-1 bk-gray mt-10">
			<span class="l"><strong>查询条件</strong></span> <span class="r">
				<button class="layui-btn layui-btn-sm layui-btn-normal"
					id="searchBtn">查询</button>
				<button class="layui-btn layui-btn-sm layui-btn-normal"
					id="resetBtn">重置</button>
				<button class="layui-btn layui-btn-sm layui-btn-normal" id="">导出</button>
			</span>
		</div>

		<div class="layui-form" style="margin-top: 10px">
			<div class="layui-row">
				<div class="layui-col-md3">
					<div class="layui-form-item">
						<label class="layui-form-label">单据号:</label>
						<div class="layui-input-block">
							<input type="text" id="billNo" lay-verify="title"
								autocomplete="off" class="input-text">
						</div>
					</div>
				</div>
				<div class="layui-col-md3">
					<div class="layui-form-item">
						<label class="layui-form-label">货运方式:</label>
						<div class="layui-input-block">
							<select id="freightType">
								<option value=""></option>
								<option value="代运">代运</option>
								<option value="代收">代收</option>
								<option value="代购">代购</option>
							</select>
						</div>
					</div>
				</div>
				<div class="layui-col-md3">
					<div class="layui-form-item">
						<label class="layui-form-label">单据日期:</label>
						<div class="layui-input-block">
							<input type="text"
								onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'billDateEndStr\')||\'%y-%M-%d\'}' })"
								id="billDateBeginStr" class="input-text Wdate">
						</div>
					</div>
				</div>
				<div class="layui-col-md3">
					<div class="layui-form-item">
						<label class="layui-form-label">至:</label>
						<div class="layui-input-block">
							<input type="text"
								onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'billDateBeginStr\')}',maxDate:'%y-%M-%d' })"
								id="billDateEndStr" class="input-text Wdate">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-form" style="margin-top: 3px">
			<div class="layui-row">
				<div class="layui-col-md3">
					<div class="layui-form-item">
						<label class="layui-form-label">收款状态:</label>
						<div class="layui-input-block">
							<select id="receivablesState">
								<option></option>
								<option value="未收">未收</option>
								<option value="已收">已收</option>
							</select>
						</div>
					</div>
				</div>
				<div class="layui-col-md3">
					<div class="layui-form-item">
						<label class="layui-form-label">收款类型:</label>
						<div class="layui-input-block">
							<select id="receivablesType">
								<option></option>
								<option value="现金">现金</option>
								<option value="转账">转账</option>
							</select>
						</div>
					</div>
				</div>
				<div class="layui-col-md3">
					<div class="layui-form-item">
						<label class="layui-form-label">付款状态:</label>
						<div class="layui-input-block">
							<select id="paymentState">
								<option></option>
								<option value="未付">未付</option>
								<option value="已付">已付</option>
							</select>
						</div>
					</div>
				</div>
				<div class="layui-col-md3">
					<div class="layui-form-item">
						<label class="layui-form-label">付款类型:</label>
						<div class="layui-input-block">
							<select id="paymentType">
								<option></option>
								<option value="现汇">现汇</option>
								<option value="转账">转账</option>
								<option value="自结">自结</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cl pd-5 bg-1 bk-gray mt-10">
			<span class="l"><strong>货运单据列表</strong></span> <span class="r">
				<button class="layui-btn layui-btn-sm layui-btn-normal" id="addBtn">新增</button>
				<button class="layui-btn layui-btn-sm layui-btn-normal" id="editBtn">修改</button>
				<button class="layui-btn layui-btn-sm layui-btn-normal" id="delBtn">删除</button>
				<button class="layui-btn layui-btn-sm layui-btn-normal" id="billBtn">对单</button>
				<button class="layui-btn layui-btn-sm layui-btn-normal" id="recBtn">收款</button>
				<button class="layui-btn layui-btn-sm layui-btn-normal" id="payBtn">付款</button>
			</span>
		</div>
		<div id="document-table"></div>

	</div>

	<script>
		
	</script>

	<!--_footer 作为公共模版分离出去-->
	<script type="text/javascript"
		src="../../static/plugins/h-ui.admin/lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="../../static/plugins/h-ui.admin/lib/layer/2.4/layer.js"></script>
	<script type="text/javascript"
		src="../../static/plugins/h-ui/js/H-ui.min.js"></script>
	<script type="text/javascript"
		src="../../static/plugins/h-ui.admin/js/H-ui.admin.js"></script>
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript"
		src="../../static/plugins/h-ui.admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
	<script type="text/javascript"
		src="../../static/plugins/h-ui.admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
	<script type="text/javascript"
		src="../../static/plugins/h-ui.admin/lib/laypage/1.2/laypage.js"></script>
	<script type="text/javascript"
		src="../../static/plugins/layui-v2.2.5/layui.js"></script>
	<script src="../../static/js/require.js"
		data-main="../../static/js/shippingdocuments/documentMain"></script>
</body>
</html>